@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Kufi+Arabic:wght@100..900&display=swap");

/* Define font families */
:root {
  --font-ltr: "Montserrat", sans-serif;
  --font-rtl: "Noto Kufi Arabic", serif;
}

/* Direction styling */
.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
  text-align: right;
}

/* Font styling */
.font-en {
  font-family: "Montserrat", sans-serif; /* Specify English/French font */
}

.font-fr {
  font-family: "Montserrat", sans-serif; /* Specify French font */
}

.font-ar {
  font-family: "Noto Kufi Arabic", sans-serif; /* Specify Arabic font */
}
/* Apply fonts to placeholder text based on language direction */
input::placeholder {
  font-family: "Montserrat", sans-serif; /* Default font */
}

body.font-en input::placeholder {
  font-family: "Montserrat", sans-serif; /* Default font */
}

body.font-fr input::placeholder {
  font-family: "Montserrat", sans-serif; /* Default font */
}

body.font-ar input::placeholder {
  font-family: "Noto Kufi Arabic", sans-serif; /* Specify Arabic font */
}

/* Default font for LTR languages */
html,
body {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.content-wraper12412 {
  flex-direction: column;
  min-height: 100vh;
}
/* Font for Arabic language with RTL */
body.font-ar.rtl {
  font-family: "Noto Kufi Arabic", serif !important;
  direction: rtl;
  text-align: right;
}

/* Optional: Apply font change on body when switching between languages */
body.font-en {
  font-family: "Montserrat", sans-serif;
}

body.font-fr {
  font-family: "Montserrat", sans-serif;
}

/* General LTR font application */
.nav-link,
.dropdown-link,
.p-buttons,
.about-buttons,
.submit-button {
  font-family: var(--font-ltr) !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Apply RTL font for Arabic */
body.font-ar .nav-link,
body.font-ar .dropdown-link,
body.font-ar .p-buttons,
body.font-ar .about-buttons,
body.font-ar .submit-button {
  font-family: var(--font-rtl) !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.page-title {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}
/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #f0eee9;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Logo Styles */
.navbar-logo img {
  flex: 1;
  width: 350px; /* Adjust size as needed */
  height: auto;
  cursor: pointer;
}

/* Navigation Links */
.navbar-links {
  display: flex;
  align-items: center;
}

/* Navigation Button */
.nav-link {
  background: none;
  border: none;
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 10px 20px;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Container styling for positioning dropdown */
.nav-item-container {
  position: relative;
}

/* Dropdown Menu Styling */
.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50px; /* Position dropdown below the "PROJECTS" button */
  left: 50%; /* Center the dropdown */
  transform: translateX(-50%); /* Center the dropdown horizontally */
  background-color: #d3d3d3; /* Light gray background */
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 180px; /* Set your desired width */
  height: auto; /* This height will adjust to fit the content by default */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Arrow on top of the dropdown */
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -10px; /* Adjust arrow position */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d3d3d3; /* Match dropdown background */
}

/* Dropdown Button Styling */
.dropdown-link {
  background: none;
  border: none;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 5px;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Dropdown Button Hover Effect */
.dropdown-link:hover {
  transform: scale(1.2); /* Scale effect on hover */
}

/* Show dropdown on hover */
.nav-item-container:hover .dropdown-menu {
  opacity: 1;
  visibility: visible; /* Keeps dropdown visible */
  transition-delay: 0s; /* No delay when showing */
}
.nav-item-container .dropdown-menu {
  transition-delay: 150ms; /* 0.5s delay when hiding */
}

.nav-link:hover {
  transform: scale(1.2); /* Scale effect on hover */
}

/* Dropdown Menu Styling */
.dropdown-lge-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50px; /* Position dropdown below the "PROJECTS" button */
  left: 50%; /* Center the dropdown */
  transform: translateX(-50%); /* Center the dropdown horizontally */
  background-color: #d3d3d3; /* Light gray background */
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 80px; /* Set your desired width */
  height: auto; /* This height will adjust to fit the content by default */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Arrow on top of the dropdown */
.dropdown-lge-menu::before {
  content: "";
  position: absolute;
  top: -10px; /* Adjust arrow position */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d3d3d3; /* Match dropdown background */
}

/* Show dropdown on hover */
.nav-item-container:hover .dropdown-lge-menu {
  opacity: 1;
  visibility: visible; /* Keeps dropdown visible */
  transition-delay: 0s; /* No delay when showing */
}
.nav-item-container .dropdown-lge-menu {
  transition-delay: 150ms; /* 0.5s delay when hiding */
}

/* Mobile and small screen styles */
@media (max-width: 960px) {
  /* Navbar styling adjustments for smaller screens */
  .navbar {
    flex-direction: column !important;
    align-items: center;
    padding: 10px 20px;
    height: auto;
  }
  /* Ensure RTL language does not change column layout */
  body.rtl .navbar {
    flex-direction: column !important; /* Force column layout in RTL */
    align-items: center;
  }

  /* Logo resizing */
  .navbar-logo img {
    width: 300px; /* Smaller logo for mobile */
  }

  /* Navigation links styling for mobile */
  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Take full width on mobile */
  }

  /* Adjust nav link spacing and font size for readability on smaller screens */
  .nav-link {
    font-size: 14px;
    padding: 10px 0;
    width: 100%; /* Make links full width */
    text-align: center;
  }
  .dropdown-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Dropdown menu adjustments for mobile */
  .dropdown-menu {
    display: flex;
    flex-direction: column; /* Stack them with the other nav items */
    opacity: 0; /* Hidden by default */
    /* visibility: hidden; */
    align-items: center;
    left: 0;
    max-height: 0;
    transform: translateX(0%); /* Center the dropdown horizontally */
    /* transition: opacity 3s ease, height 3s ease, visibility 3s ease; */
    overflow: hidden;
    position: static; /* Make them part of the normal flow */
    background-color: transparent; /* Remove background */
    box-shadow: none; /* Remove shadow */
    padding: 0; /* Remove padding */
    visibility: hidden;
    padding: 0;
  }
  /* Smooth expand and collapse using keyframes */
  @keyframes expandDropdown {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 300px;
      opacity: 1;
    }
  }
  @keyframes collapseDropdown {
    from {
      max-height: 300px;
      opacity: 1;
    }
    to {
      max-height: 0;
      opacity: 0;
    }
  }
  /* Show the dropdown smoothly when class "show-dropdown" is added */
  .show-dropdown {
    opacity: 1;
    visibility: visible;
    animation: expandDropdown 0.5s ease forwards; /* Expand animation */
    max-height: 300px; /* Adjust this height based on content */
  }
  /* Optional collapse animation when hiding */
  .dropdown-menu:not(.show-dropdown) {
    animation: collapseDropdown 0.5s ease forwards; /* Collapse animation */
  }

  /* Dropdown link styling on mobile */
  .dropdown-link {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
  }
  /* Center and adjust nav links for mobile */
  .nav-link {
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
  }
}

/* Style for Slideshow */
/* Style for Slideshow */
.slideshow-container {
  position: relative;
  max-width: 100%;
  /* overflow: hidden; */
  height: 700px; /* Set a height to define the slideshow area */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Active slide */
.slide.active {
  opacity: 1;
  z-index: 1;
}

/* Overlay Text Styling */
.overlay-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: #fff;
  text-align: center;
  z-index: 2;
}

.overlay-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

/* Down Arrow Icon Styling */
/* General styling for the down-arrow object */
/* Styling for the down arrow container */
.down-arrow {
  cursor: pointer; /* Make the arrow clickable */
  position: absolute; /* Position it where you need */
  bottom: 20px; /* 20px from the bottom */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Center it exactly */
  z-index: 2;
  display: flex;
  justify-content: center; /* Center the content inside */
  align-items: center;
  color: white;
  animation: bounce 1.5s infinite ease-in-out; /* Bounce animation */
}

/* Bounce animation */
@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  25% {
    transform: translateX(-50%) translateY(-20px); /* Move up */
  }
  50% {
    transform: translateX(-50%) translateY(0); /* Back to original position */
  }
  75% {
    transform: translateX(-50%) translateY(-10px); /* Slight bounce up */
  }
  100% {
    transform: translateX(-50%) translateY(0); /* Back to original position */
  }
}
/* Styling the SVG inside the container */
.down-arrow svg {
  fill: currentColor; /* Allow the color to be inherited from the parent */
  width: 70px; /* Size the icon */
  height: 70px;
  transition: fill 0.3s ease; /* Smooth transition for color change */
}

.overlay-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: #fff;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*============================================================================================================================*/

.first-line {
  text-transform: uppercase; /* Makes the text uppercase */
  font-weight: 800; /* Makes the text bold */
  font-size: 14px; /* Small size */
  margin-bottom: 200px; /* Huge space below this line */
}

.second-line {
  font-weight: bold; /* Makes the text bold */
  font-size: 48px; /* Huge size */
}
/*============================================================================================================================*/
.grayed-Container {
  background-color: #f2f2f2;
}
.title {
  text-transform: uppercase;
  color: black;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

/* Styles for the description text */
.description {
  font-size: 20px; /* Average font size */
  font-weight: 200;
  color: #333; /* Black color */
  line-height: 2; /* Spacing between lines for readability */
  max-width: 600px; /* Constrain width to create natural breaks */
  margin: auto; /* Center the text block and add spacing */
  padding: 0 15px; /* Add padding for comfortable reading */
  text-align: center;
}

.icon-row {
  display: flex;
  justify-content: center; /* Evenly space items across the row */
  gap: 100px;
  margin: 40px auto 0px; /* Center the row with spacing */
  max-width: 1000px; /* Set a max-width for the row */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.icon-item {
  text-align: center; /* Center-align each icon and title */
  flex: 1; /* Make items flexible to adjust in row */
  min-width: 100px;
}

.icon-image {
  width: 85px; /* Set a size for the icons */
  height: 85px; /* Keep icons square */
  margin-bottom: 10px; /* Space between icon and title */
}

.icon-title {
  font-size: 1rem; /* Set a readable font size for titles */
  font-weight: 800; /* Slightly lighter font weight */
  color: black; /* Darker gray for the titles */
}

@media (max-width: 960px) {
  .icon-row {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center the icons in a column */
    /* gap:30px; */
  }

  .icon-item {
    margin-bottom: 20px; /* Adds space between items in the column */
    min-width: 0; /* Allows items to shrink */
  }
}
/*============================================================================================================================*/
.icon-row2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5vw;
  margin: 5vw 100px;
  padding: 0 2vw;
  max-width: 90vw;
  flex-wrap: wrap;
  direction: ltr; /* Default to LTR */
}

/* Use [dir="rtl"] selector to handle RTL layouts */
[dir="rtl"] .icon-row2 {
  direction: rtl; /* Switch to RTL for Arabic or RTL languages */
}

.icon-item2 {
  text-align: center;
  flex: 1;
  min-width: 150px;
  padding: 0 1em;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Adjust divider positioning for LTR and RTL */
.icon-item2:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  height: 400px;
  background-color: #ccc;
  right: -2vw; /* Default for LTR */
}

/* Adjust divider for RTL */
[dir="rtl"] .icon-item2:not(:last-child)::after {
  right: auto; /* Remove right positioning */
  left: -2vw; /* Set divider to the left for RTL */
}

/* Icon image styling */
.icon-image2 {
  width: 15vw;
  max-width: 100px;
  min-width: 20px;
  height: auto;
  margin-bottom: 0.5em;
}

.icon-title2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  margin-bottom: 0.5em;
}

.icon-description2 {
  font-size: 1.2rem;
  font-weight: 200;
  color: #666;
  margin-top: auto;
  line-height: 1.4;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 960px) {
  .icon-row2 {
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }

  .icon-item2 {
    padding: 1em;
  }

  /* Horizontal divider for stacked items */
  .icon-item2:not(:last-child)::after {
    position: relative;
    top: auto; /* Reset top position */
    right: auto; /* Reset right position */
    left: 0;
    bottom: 0; /* Align to the bottom */
    height: 2px; /* Thin horizontal divider */
    width: 90%; /* Span across icon width */
    margin: 1em auto; /* Center horizontally with margin */
  }
  .icon-image2 {
    width: 20vw;
    max-width: 70px;
  }
}

/*============================================================================================================================*/
/* Container to keep buttons in a row */
.prvpub-buttons {
  display: flex;
  gap: 20px;
  justify-content: center; /* Centering the buttons */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Basic button styling */
.p-buttons {
  /* padding: 20px 100px; */
  height: 60px;
  width: 300px;
  margin: 50px 0px;
  border: 3px solid black; /* Thick black border */
  background-color: white; /* Default background color */
  color: black; /* Text color */
  text-transform: uppercase;
  font-size: 14px; /* Adjust font size */
  font-weight: 800;
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.5s; /* Smooth transition for hover effect */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Hover effect to change background color to default gray */
.p-buttons:hover {
  background-color: lightgray;
}
@media (max-width: 960px) {
  .prvpub-buttons {
    flex-direction: column;
    align-items: center;
    margin: 50px 5px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .p-buttons {
    margin: 0px 200px;
    height: 60px;
    width: 400px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
/*============================================================================================================================*/
/* Container styling for the picture button */
/* Parent container for row layout */
.image-button-row {
  display: flex;
  justify-content: space-between; /* Space between buttons */
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Individual button styling */
.picture-button {
  position: relative;
  width: 50%; /* Each button takes 48% of the row */
  height: 400px; /* Set fixed height for buttons */
  overflow: hidden;
  cursor: pointer;
  background-color: black;
  flex: 1; /* Ensures equal width for both buttons */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Image styling */
.button-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers button area */
  transition: opacity 0.5s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.picture-button:hover .button-image {
  opacity: 0.5; /* Darken the image on hover */
}

/* Overlay text styling */
.overlay-text2 {
  position: absolute;
  font-weight: 500;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -1%); /* Perfectly center text */
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none; /* Prevent text from blocking clicks */
}

.picture-button:hover .overlay-text2 {
  opacity: 1; /* Fade in the text */
  transform: translate(-50%, -50%) translateY(-50%); /* Move the text slightly upwards during hover */
}

/* Responsive styling for small screens */
@media (max-width: 960px) {
  .image-button-row {
    flex-direction: column; /* Stack buttons vertically */
  }

  .picture-button {
    width: 100%; /* Full width for each button on small screens */
    height: auto; /* Adjust height to fit image on smaller screens */
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .button-image {
    display: block; /* Ensures no gap below the image */
    transition: none; /* Remove transition on image */
    height: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .overlay-text2 {
    opacity: 1; /* Show text without animation */
    transform: translate(-50%, -50%); /* Center text without animation */
    transition: none; /* Disable text transition on small screens */
  }

  .picture-button:hover .button-image {
    opacity: 0.5; /* Disable hover effect */
  }
}
/*============================================================================================================================*/
/* Basic button styling */
.parent-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.about-buttons {
  /* padding: 20px 100px; */
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 20px 50px;
  border: 3px solid black; /* Thick black border */
  background-color: white; /* Default background color */
  color: black; /* Text color */
  text-transform: uppercase;
  font-size: 14px; /* Adjust font size */
  font-weight: 800;
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.5s; /* Smooth transition for hover effect */
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*============================================================================================================================*/
/* Container styles */
.social-media-container {
  position: relative;
  display: flex;
  /* height: 600px; */
  width: 100%;
  min-height: 400px;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 30px 0px;
  overflow: hidden;
}

/* Background image with overlay */
.background-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image scales and fills proportionally */
  z-index: 0; /* Ensure it's behind the text */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image scales and fills proportionally */
  /* position: absolute; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Darkness overlay */
  z-index: 1; /* Ensures overlay is above the image */
}

/* Content styles */
.social-media-text,
.social-media-icons {
  position: relative; /* Layer the content on top of the background */
  z-index: 2;
}

.social-media-text h1.main-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

.social-media-text p.description2 {
  font-size: 18px;
  max-width: 600px;
  line-height: 1.5;
  margin-bottom: 4rem;
  text-align: center;
}
.description3 {
  font-size: 26px;
  font-weight: 100;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  line-height: 1.5;
  margin-bottom: 4rem;
  text-align: center;
}
.subtext {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5rem;
  z-index: 2;
}
.social-media-icons {
  display: flex;
  gap: 60px;
  margin-top: 1.5rem;
}

.social-media-icons .icon-link {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.social-media-icons .icon-link:hover {
  transform: scale(1.1);
}

/* Responsive design */
@media (max-width: 960px) {
  .social-media-container {
    margin: 0;
    padding: 0;
  }
  .social-media-text h1.main-title {
    font-size: 2rem;
  }

  .social-media-text p.description2 {
    font-size: 1rem;
    max-width: 500px;
    margin: auto 30px;
  }
  .social-media-icons .icon-link {
    width: 40px;
    height: 40px;
  }
  .social-media-icons {
    gap: 2rem;
  }
}

/*============================================================================================================================*/
/* General container styling */
/* Wrapper container that will center the form */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the form horizontally */
  justify-content: center; /* Centers the form vertically */
  box-sizing: border-box;
  height: auto;
  min-height: 400px; /* Fallback for consistent height */
  transition: height 0.3s ease-in-out; /* Smooth height transition */
  position: relative;
}

/* Input group styling */
.input-group {
  width: 100%; /* Full width of the container */
  max-width: 800px; /* Restrict input group width to 800px */
  margin-bottom: 1.5rem;
  position: relative;
  box-sizing: border-box; /* Ensure padding doesn't increase width */
  border-radius: 0;
}
/* Label styling */
.input-label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: #333;
}

/* Required label styling */
.required {
  color: black;
}

/* Input field styling */
.input-group input {
  width: 100%; /* Full width of the input group */
  padding: 20px; /* Increased padding for more space */
  font-size: 1.2rem; /* Increased font size */
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  border-radius: 0;
}
/* Form styling */
form#orderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Allow form to take up full width */
  max-width: 700px; /* Max width of form */
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px; /* Optional to make form corners rounded */
  height: auto;
}
.input-group input:focus {
  border-color: black;
}

/* Error message styling */
.error-message {
  font-size: 0.85rem;
  color: red;
  position: absolute;
  bottom: -20px;
  left: 0;
  display: none;
}

/* Submit button styling */
.submit-button {
  text-transform: uppercase;
  width: 50%; /* Increased width for the button */
  height: 60px; /* Larger button height */
  /* padding: 16px; */
  font-size: 1.3rem; /* Increased font size */
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px auto;
  display: block;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.submit-button:hover {
  background-color: #333;
}

/* Thank-you message styling */
.thank-you-message {
  background-color: #d4edda;
  color: #155724;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0px;
  max-width: 700px; /* Match form's max width */
  margin: 0 auto;
}

/* Responsive styling */
@media (max-width: 960px) {
  .form-wrapper {
    padding: 15px;
    width: 100%;
  }

  .input-group {
    max-width: 100%; /* Makes the input group stretch to the full width of smaller screens */
  }

  .input-group input {
    font-size: 1.1rem; /* Slightly smaller font size for smaller screens */
    padding: 16px; /* Increased padding */
  }

  .submit-button {
    width: 60%; /* Make the button wider for smaller screens */
    padding: 15px;
    font-size: 1.2rem; /* Increased font size */
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

/* Add smooth transitions */
.form-wrapper,
.thank-you-message {
  transition: opacity 0.3s ease-in-out;
}

/* When hidden */
.hidden {
  opacity: 0;
  pointer-events: none;
}
/*============================================================================================================================*/

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  background-color: #f0eee9;
  flex-wrap: wrap;
  height: 80px;
}
.right-s {
  flex: 1;
  text-align: center;
  align-items: center;
}
/* Social media icons */
.social-media {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  justify-content: right;
  padding: 0 30px;
}

.icon-s {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: gray;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: background-color 0.3s;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.icon-image3 {
  fill: gray;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: background-color 0.3s;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.icon-s:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* Responsive styling */
@media (max-width: 960px) {
  #footer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .social-media {
    justify-content: center;
  }

  .icon-s,
  .icon-image3 {
    margin: 5px 0; /* Add spacing between icons */
  }
}
/*============================================================================================================================*/
.order-buttons {
  /* padding: 20px 100px; */
  font-family: inherit;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 20px 50px;
  border: 0px; /* Thick black border */
  background-color: white; /* Default background color */
  color: black; /* Text color */
  text-transform: uppercase;
  font-size: 16px; /* Adjust font size */
  font-weight: 700;
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.5s; /* Smooth transition for hover effect */
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*============================================================================================================================*/
/* Container styles */
.team-container {
  justify-content: center;
  align-items: center;
  /* width: 800px; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}

/* Row styles */
.team-row {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

/* Team member styles */
.team-member {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 300px; /* Adjust as needed */
}
.rtl .team-member {
  text-align: right;
}

/* Photo styles */
.team-photo {
  width: 100%; /* Responsive image */
  height: auto;
  border-radius: 0px;
  margin-bottom: 0.5rem;
}

/* Text styles */
.team-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.team-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.team-occupation {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

/* Responsive design */
@media (max-width: 960px) {
  .team-row {
    justify-content: center; /* Center images for small screens */
    gap: 1rem;
  }

  .team-member {
    flex: 0 0 calc(50% - 1rem); /* Two images per row */
    max-width: calc(50% - 1rem);
  }
}
/*============================================================================================================================*/
/* Form styling */
form#professionalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Allow form to take up full width */
  max-width: 700px; /* Max width of form */
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px; /* Optional to make form corners rounded */
  height: auto;
}
.dropdown-profession {
  width: 100%; /* Full width of the input group */
  padding: 20px; /* Increased padding for more space */
  font-size: 1.2rem; /* Increased font size */
  border: 2px solid #ccc;
  border-radius: 0px;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  background-color: white;
}

.dropdown-profession:focus {
  border-color: black;
}

/* Optional: Additional styling for disabled placeholder */
.dropdown-profession option:disabled {
  color: #999;
}
/* Responsive styling */
@media (max-width: 960px) {
  .dropdown-profession {
    font-size: 1.1rem; /* Slightly smaller font size for smaller screens */
    padding: 16px; /* Increased padding */
  }
}
/*============================================================================================================================*/
#services-page.icon-row {
  display: flex;
  justify-content: center; /* Evenly space items across the row */
  gap: 170px;
  margin: 10px auto 0px; /* Center the row with spacing */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}
.icon-image-services {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.icon-title-services {
  font-size: 1.2rem; /* Set a readable font size for titles */
  font-weight: 500; /* Slightly lighter font weight */
  color: black; /* Darker gray for the titles */
  /* padding: 0 20px; */
}

/*============================================================================================================================*/
.services-overlay-container {
  position: relative;
  display: flex;
  /* height: 600px; */
  width: 100%;
  min-height: 400px;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 30px 0px;
  overflow: hidden;
}
.social-media-text h1.services-main-title {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}
.vertical-dividering {
  width: 200px;
  height: 1px;
  background-color: #ccc;
  margin: 50px auto;
  text-align: center;
}
.social-media-text p.services-description2 {
  font-size: 20px;
  max-width: 600px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
}
/* Responsive design */
@media (max-width: 960px) {
  #services-page.icon-row {
    gap: 20px;
  }
  .services-overlay-container {
    margin: 0;
    padding: 0;
  }
  .social-media-text h1.services-main-title {
    font-size: 2rem;
  }

  .social-media-text p.services-description2 {
    font-size: 1rem;
    max-width: 700px;
    margin: 0 30px;
  }
}
/*============================================================================================================================*/
.icon-row-small-ones {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  justify-content: flex-start;
  max-width: 1200px;
  flex-wrap: wrap;
}
.icon-item-small-ones {
  text-align: center;
  flex: 1;
  min-width: 300px;
  max-width: 300px;
  margin-bottom: 50px;
  /* margin-right: auto;
  margin-left: auto; */
}

.small-icon-image-services {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}
.small-icon-title-services {
  font-size: 1.3rem; /* Set a readable font size for titles */
  font-weight: 500; /* Slightly lighter font weight */
  color: black; /* Darker gray for the titles */
}
@media (max-width: 960px) {
  .icon-row-small-ones {
    gap: 10px;
    flex-direction: column;
  }
}
.small-icons-title {
  font-size: 48px;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
/*============================================================================================================================*/

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-row {
  display: block;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallery-item {
  position: relative;
  width: 33.3333333333%;
  aspect-ratio: 1.5;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease, filter 1s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
  filter: grayscale(50%);
}

.overlay {
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
  line-height: 2;
}

.overlay p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.overlay h1,
h2 {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  margin: 0;
}
.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay p {
  animation: slideIn 0.7s ease forwards, backwards;
}
.overlay h1 {
  animation: slideIn 0.7s ease forwards, backwards;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 960px) {
  .gallery-item {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .gallery-item {
    width: 100%; /* One item per row */
  }
}
/*============================================================================================================================*/
.gallery-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Text Section */
.gallery-text {
  text-align: center;
  margin-bottom: 30px;
}

.gallery-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.gallery-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}

/* Gallery Section */
.gallery-shit {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* Gallery Row */
.gallery-row-shit {
  display: flex;
  gap: 30px; /* Space between images */
  width: 100%;
  max-width: 100%;
}

/* Default styles for images inside rows */
.gallery-row-shit a {
  display: flex;
  max-width: 100%;
}

.gallery-row-shit a img {
  height: 500px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
}

/* Row-specific styles for odd rows */
.gallery-row-shit:nth-child(odd) a:first-child {
  flex: 1; /* Small image takes 1 part */
}

.gallery-row-shit:nth-child(odd) a:last-child {
  flex: 2; /* Big image takes 2 parts */
}

/* Row-specific styles for even rows */
.gallery-row-shit:nth-child(even) a:first-child {
  flex: 2; /* Big image takes 2 parts */
}

.gallery-row-shit:nth-child(even) a:last-child {
  flex: 1; /* Small image takes 1 part */
}
